<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Branches With Leaves</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FF-[1]++F+FL</string>
		</dict>
	</dict>
	<key>Gnarled</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FF[++FF[2][+FF2]][-FF3]</string>
			<key>2</key>
			<string>F-F-F+[2]F+F+F+F+&gt;[2]</string>
			<key>3</key>
			<string>F+F+F-[2]F-F-F-F-&gt;[2]</string>
		</dict>
	</dict>
	<key>Elaborate</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FF[-2]3[+3]</string>
			<key>2</key>
			<string>FF+F-F-F[FFF3][+3]-F-F3</string>
			<key>3</key>
			<string>FF-F+F+F[2][-2]+F+F2</string>
		</dict>
	</dict>
	<key>More Branches</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FF-[1]++F+F+1</string>
		</dict>
	</dict>
	<key>Bend</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FF-1</string>
		</dict>
	</dict>
	<key>Straight</key>
	<dict>
		<key>Generations</key>
		<integer>1</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FFF</string>
		</dict>
	</dict>
	<key>Branches</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>FF-[1]++F+F</string>
		</dict>
	</dict>
	<key>Crooked</key>
	<dict>
		<key>Generations</key>
		<integer>6</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>F-F+2</string>
			<key>2</key>
			<string>F-[[-F-F+F+FF2]+FF2]+F[+F+F+FF2]-FF+F-F2</string>
		</dict>
	</dict>
	<key>My Tree</key>
	<dict>
		<key>Generations</key>
		<integer>2</integer>
		<key>Rules</key>
		<dict>
			<key>1</key>
			<string>F[[&lt;--1][&lt;&lt;++1]]FFL</string>
		</dict>
	</dict>
</dict>
</plist>
